.fadeTopDown {
    animation: fadeTopDown 0.3s ease-in-out forwards;
}

.fadeLeftRight {
    animation: leftToRight 0.3s ease-in-out;
}

.fadeRightLeft {
    animation: rightToLeft 0.3s ease-in-out forwards;
}

.rotateUpDown {
    animation: rotateUpDown 0.2s ease-in-out forwards;
}

.rotateDownUp {
    animation: rotateDownUp 0.2s ease-in-out forwards;
}

@keyframes rightToLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes leftToRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeTopDown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}


@keyframes rotateUpDown {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotateDownUp {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}