@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", sans-serif;
  --color-primary: #104e64;
  --color-primary-hover: #005f78;
  --color-brand-light: #fff;
  --color-brand-dark: #2563eb;
  --color-background: #f0f0f0;
  --color-card: #fff;
  --color-badge: #d1d1d1;
  --color-primary-text: #104e64;
}

@layer base {
  :root {
    --color-primary: #104e64;
    --color-primary-hover: #005f78;
    --color-brand-light: #fff;
    --color-brand-dark: #2563eb;
    --color-background: #fff;
    --color-card: #fff;
    --color-badge: #d1d1d1;
    --color-primary-text: #104e64;
  }

  body {
    /* Apply the variable from your @theme block */
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    min-height: 100vh;
    line-height: 1.6;
    /* This ensures it looks smooth on all devices */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark {
    --color-background: ##1c1c1d;
    --color-card: #252728;
    --color-badge: #303030;
    --color-primary-text: #e2e5e9;
    --color-secondary-text: #b0b3b8;
  }
}

html {
  scroll-behavior: smooth;
}

button{
  cursor: pointer;
  outline: none;
}

.swiper-pagination-bullet{
  @apply h-2.5 rounded-full transition-all duration-300 cursor-pointer ;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
  @apply bg-gray-400 hover:bg-gray-500  w-2.5;
}

.swiper-pagination-bullet-active{
  @apply bg-primary w-6;
}
