@import "tailwindcss";

@theme {
  /* Define your custom colors here */
  --color-primary: #104e64;

  --color-brand-light: #3b82f6;
  --color-brand-dark: #2563eb;

  --color-background-light: #f9fafb;
  --color-background-dark: #111827;

  --color-text-light: #1f2937;
  --color-text-dark: #f9fafb;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
}

/* ===== MEDIA ===== */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ===== FORMS ===== */

input,
button,
textarea,
select {
  font: inherit;
}
/* 
button {
  cursor: pointer;
  border: none;
} */

/* ===== LINKS ===== */

a {
  text-decoration: none;
  color: inherit;
}

/* ===== LISTS ===== */

ul,
ol {
  list-style: none;
}

/* ===== HEADINGS ===== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

/* ===== CONTAINER HELPER ===== */

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: 1rem;
}
