.dialogueLeftRight {
    animation: leftToRight 0.3s ease-in-out;
}

.dialogueRightLeft {
    animation: rightToLeft 0.3s ease-in-out forwards;
}


@keyframes rightToLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes leftToRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
